<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
<h2> Map </h2>




<div id="map"></div>


{{!-- //this is the mapbox script that creates a map but we need an acces token to make it work, and we can pick a style
if we have one --}}
